

  <form>
    Title:<br>
    <input type="text" name="title"><br>
    Body:<br>
    <input type="text" name="body">
  </form></br>
  <div>
    <input class="btn btn-default" id="create-idea" type="button" name="submit" value="Save">
  </div>

  "New Idea"
