<header>
  <h1>The Big Idea</h1>
  <h2>Share Your Ideas</h2>
  <section class="header-section">
    <form>
      Title:<br>
      <input type="text" name="title" id="title-box"><br>
      Body:<br>
      <input type="text" name="body" id="body-box">
    </form></br>
  </section>
  <div>
    <input class="btn btn-default" id="create-idea" type="button" name="submit" value="Save">
  </div>
</header>

<div class="container">
  <div class="ajax-flash text-center">

  </div>
  <h2 class="text-center">All Ideas:</h2>
  <div class="text-center">
    <label>Search</label>
    <input type="search" placeholder="Search Ideas" id="idea_filter_search"></br></br>
  </div>
  <div class="text-center">
    <button class="text-center btn quality-filter" type="button">Filter by Quality</button>
  </div>
  <table class="table idea-table">
    <thead>
      <tr>
        <th class='title'>Title</th>
        <th class='body'>Body</th>
        <th>Quality</th>
        <th class='delete-button'></th>
        <th class='upvote'>Upvote</th>
        <th class='downvote'>DownVote</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
