/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
 }

h1 {
  color: #a8cf37;
  margin-top: 20px;
}

.body-cell {
  max-width: 200px !important;
}

.title-cell {
  max-width: 100px !important;
}

header {
  background-color: black;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: center;
}

input#title-box {
  width: 40%;
  margin-bottom: 20px;
  color: black;
}

input#body-box{
  height: 40px;
  width: 40%;
  color: black;
}

#create-idea {
  width: 40%;
  color: #a8cf37;
  font-size: 1.3em;
  background: transparent;
  border: 2px solid #a8cf37;
}
#create-idea:hover {
  background-color: #a8cf37;
  color: black;
}
